.vscode
.mypy_cache
docker-stack.yml
__pycache__
app.egg-info
venv
env
.env
.testenv
src/db/alembic/versions/*
!src/db/alembic/versions/.gitkeep
src/reports/*
.docker
certs/*
retail-certs/*

.mypy_cache
.coverage
htmlcov
celerybeat-schedule
.DS_Store
static/media/*
data.yaml
certs/*
!certs/.gitkeep
